<h1>Listing lugars</h1>

<table>
  <thead>
    <tr>
      <th>Nombre lugar</th>
      <th>Descripcion lugar</th>
      <th>Telefonos</th>
      <th>Link</th>
      <th>Tipo lugar</th>
      <th>Ubicacion</th>
      <th>Tipo lugar</th>
      <th>Ubicacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lugars.each do |lugar| %>
      <tr>
        <td><%= lugar.nombre_lugar %></td>
        <td><%= lugar.descripcion_lugar %></td>
        <td><%= lugar.telefonos %></td>
        <td><%= lugar.link %></td>
        <td><%= lugar.tipo_lugar %></td>
        <td><%= lugar.ubicacion %></td>
        <td><%= lugar.tipo_lugar_id %></td>
        <td><%= lugar.ubicacion_id %></td>
        <td><%= link_to 'Show', lugar %></td>
        <td><%= link_to 'Edit', edit_lugar_path(lugar) %></td>
        <td><%= link_to 'Destroy', lugar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lugar', new_lugar_path %>
