<%= form_for(@tipo_lugar) do |f| %>
  <% if @tipo_lugar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_lugar.errors.count, "error") %> prohibited this tipo_lugar from being saved:</h2>

      <ul>
      <% @tipo_lugar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_tipo %><br>
    <%= f.text_field :nombre_tipo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
