<%- model_class = Imagen -%>
<div class="page-header">
  <h1><%=t '.title', :default => Imagen %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:nombre_imagen) %></th>
      <th><%= model_class.human_attribute_name(:imagen) %></th>
      <th><%= model_class.human_attribute_name(:descripcion_imagen) %></th>
      <th><%= model_class.human_attribute_name(:lugar_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @imagens.each do |imagen| %>
      <tr>
        <td><%= imagen.id %></td>
        <td><%= imagen.nombre_imagen %></td>
        <td><%= imagen.imagen %></td>
        <td><%= imagen.descripcion_imagen %></td>
        <td><%= imagen.lugar_id %></td>
        <td><%=l imagen.created_at, format: :long %></td>
        <td>
          <%= link_to imagen_path(imagen), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to imagen_path(imagen), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_imagen_path,
            :class => 'btn btn-primary' %>
